.container-fluid0{
  margin-left: 20%;
}

.spclA {
    display: inline-block;
    margin-left: 300px;
    margin-bottom: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 700px;
    height: 400px;
    
}

.peticaro{
  width: 130px;
  height: 135px;
  margin-bottom: 35px;
}

.div1{
  margin-top: 2%;
  padding-right: 13%;
  margin-right: 9%;
  display: inline-block;
}

.div0{
  display: inline-block;
    margin-top: 4%;
    padding-right: 13%;

}

.imgP{

}
.imgP p {
    font-family: cursive;
    margin: 38px;
    text-align: center;
}
.polaroid{
     
     padding: 30px 40px;
     text-align:center;

}
.spclA:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
h3 {
font-size: 30px;
font-family: initial;
margin-bottom: 30px;
margin-left: 50px; 
}
/* AboutUs */
.site-content{
    margin: 20px;
}
.text  p {
    display: inline-block;
    margin: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: cursive;

}
#anchor {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
    margin-left: 30%;
}

#anchor:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* modal */

#myImg {
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1000px){
.modal-content {
        width: 100%;
    }
    
      .spclA img {
        width:270px;
        height:250px;
    }
    .spclA {
     margin-left:20px;
    }
    .div1{
    display: table-caption;

    }
    .imgP{
        display: flex;
    }
    .imgP p {

        margin:50px;

    }
     #anchor {
        margin-right:30%; 
    }
    
}
